APP_ENV=local
DATABASE_URL=postgres://root:secret@localhost:5432/url_shortener?sslmode=disable
LOG_LEVEL=debug
JWT_SECRET=ouDIOExEONSzpTPGpMveYeVY8QckUgmSbeMhCjwpA9Z
JWT_TTL=720h
SHORT_URL_BASE=http://short.localhost:8080
ALLOWED_ORIGINS=http://localhost:5173