SERVER_PORT=8080
BASE_URL=http://localhost:8080
DATABASE_URL=postgres://root:secret@localhost:5432/url_shortener?sslmode=disable
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=PgK13YiT0UpoxxpbusZJbnm85yNBEmdfcPCL4GLIxkT
JWT_TTL=24h# TTL format: number + unit (s=second, m=minute, h=hour)